run = "npm start || yarn start || node ."
# stop =  "npm stop || yarn stop"
entrypoint = "config.js"
hidden = [".config"]




[WASEEMJUTT]
language = "nodejs"

onBoot = "npm i || yarn"

[WASEEMJUTT]
channel = "stable-23_05"

[WASEEMJUTT]
run = ["yarn","start"]
deploymentTarget = "cloudrun"
ignorePorts = false
 
